################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DATEXSnaphotPull/.vs/DATEXSnaphotPull
/DATEXSnaphotPull/bin/Debug/net7.0
/DATEXSnaphotPull/obj
